<%- include('partials/header') -%>
<%- include('partials/navbarLoggedIn') -%>

    <section class="p-5 bg-primary text-light">
        <div class="container">
            <h1>FL Summons</h1>
        </div>
    </section>

    <section class="flSummonsForm p-4 bg-light">
        <div class="container bg-body rounded-4 p-4">
            <div class="row">
                <div class="col-3 inputPreview border" id="inputPreview2">
                    <div class="inputFields col">
                        <fieldset class="flCourtCaseInfo">
                            <legend>Case Information</legend>
                            <fieldset>
                                <label for="countyInfo">County:</label>
                                <select class="form-select" name="countyInfo" id="countyInfo" aria-label="Select county">
                                    <option>Select a county</option>
                                    <!-- <% templates.forEach(template => {%>
                                        <option value="<%= template.countyName %>"><%= template.countyName %></option>
                                    <% }) %> -->
                                    <!-- <% templates.reduce((acc, c) => {%>
                                        <% if (!acc[c.countyName]) { %>
                                            <% acc.push(c.countyName)%>
                                        <% } %>
                                        <% console.log(acc) %>
                                        <% return acc %>
                                    <% }, []).forEach(county => { %> 
                                        <option value="<%= county.countyName %>"><%= county.countyName %></option>
                                    <% }) %> -->
                                    <% for (template in filteredTemplates) { %>
                                        <option value="<%= template %>"><%= template %></option>
                                    <% } %>

                                </select>
                                <label for="tierInfo">Tier:</label>
                                <select class="form-select" name="tierInfo" id="tierInfo" aria-label="Select county">
                                    <option>Select a tier</option>
                                    <% templates.forEach(template => {%>
                                        <option value="<%= template.file %>" data-dep="<%= template.countyName %>" data-tier="<%= template.tier %>" >
                                            <% if (template.tier === 'sc') { %>
                                                <span>Small Claims</span>
                                            <% } else if (template.tier === 'cc') { %>
                                                <span>County Civil</span>
                                            <% } else if (template.tier === 'ca') { %>
                                                <span>Circuit Civil</span>
                                            <% } %>
                                        </option>
                                    <% }) %>
                                </select>
                            </fieldset>
                            <fieldset>
                                <legend>Case Identifiers</legend>
                                <label for="matterNumber">Matter Number: </label>
                                <input class="form-control" name="matterNumber" id="matterNumber" value="123456789">
                                
                                <label for="caseNum">Case Number: </label>
                                <input class="form-control" name="caseNum" id="caseNum" value="22SC123456">
                            </fieldset>
            
                            <fieldset>
                                <legend>Party Information</legend>
                                <label for="plaintiffName">Plaintiff Name(s): </label>
                                <input class="form-control" name="plaintiffName" id="plaintiffName" placeholder="Name1, Name2, etc." value="Doggerson LLC">
                                
                                <label for="defendantName">Defendant Name(s): </label>
                                <input class="form-control" name="defendantName" id="defendantName" placeholder="Name1, Name2, etc." value="Cat Llama">
                                
                                <label for="servee1Name">Servee Name: </label>
                                <input class="form-control" name="serveeName" id="serveeName" value="Cat Llama">
                                
                                <label for="servee1Address">Servee Address: </label>
                                <textarea class="form-control" name="serveeAddress" id="serveeAddress" placeholder="12345 Main St&#10;City, State 12345">12345 Main St&#10;City, State 12345</textarea>
                            </fieldset>
                        </fieldset>
    
                        <fieldset class="templateInfo">
                            <legend>Template Information</legend>
                            <label for="summonsTitle">Summons Title</label>
                            <select class="form-select" name="summonsTitle" id="summonsTitle">
                                <option value="">Choose an option</option>
                                <option value="Initial">Initial</option>
                                <option value="Alias">Alias</option>
                                <option value="Pluries">Pluries</option>
                            </select>
    
                            <label for="pluriesNum">Pluries Number</label>
                            <input class="form-control" type="number" name="pluriesNum" id="pluriesNum">
    
                            <label for="customerName">Customer</label>
                            <select class="form-select" name="customerName" id="customerName">
                                <option value="">Choose an option</option>
                                <% customerList.forEach(customer => {%>
                                    <option value="<%= customer._id %>"><%= customer.customerName %></option>
                                <% }) %>
                            </select>
                        </fieldset>
    
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary btn-sm" id="create">Create PDF</button>
                                <span class="btn btn-secondary btn-sm" id="resetForm">Reset</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col border">
                    <iframe id="pdfPreview" src="https://s29.q4cdn.com/816090369/files/doc_downloads/test.pdf"></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- <script src="https://cdn.tiny.cloud/1/nf56djxmrt5h0sf7j8vkhscwakqvwdeyi7ftriugdec5tc05/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script> -->
    <script src="https://unpkg.com/pdf-lib@1.17.1/dist/pdf-lib.min.js"></script>
    <script src="https://unpkg.com/downloadjs@1.4.7"></script>
    <script src="js/createFlAlias.js"></script>
    
<%- include('partials/footer') -%>