<%- include('partials/header') -%>
<%- include('partials/navbarLoggedIn') -%>

    <section class="p-5 bg-dark text-light">
        <div class="container">
            <h1>Generate a Texas Citation Request</h1>
        </div>
    </section>  

    <section class="p-4 bg-light">
        <div class="container bg-body rounded-4 p-4 mb-4">
            <div class="row">
                <div class="col text-end">
                    <button type="button" class="btn btn-dark btn-sm rounded-circle roundBtn" data-bs-toggle="modal" data-bs-target="#generateTxRequestHelp">?</button>
                </div>
                <div class="modal fade" id="generateTxRequestHelp" tabindex="-1" aria-labelledby="generateTxRequestHelp" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="generateTxRequestHelpLabel">Instructions</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ol>
                                    <li>Fill out the fields below in order to create a Texas Citation Request. The formatting of the Court Name and Address and the Servee Address fields is important:
                                        <ul>
                                            <li>It is okay to leave trailing and preceding spaces in the court name and address field, but the data must be entered in the following format with the name of the court phrased exactly as it is below:
                                                <address>
                                                    TX Precinct 2 Place 2 Justice Court for Cameron County<br>
                                                    12345 Main St<br>
                                                    City, State 12345
                                                </address>
                                            </li>
                                            <li>The servee addresses must be entered in the following format:
                                                <address>
                                                    12345 Main St<br>
                                                    Ste 123<br>
                                                    City, State 12345
                                                </address>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>After you have filled out the form, click Download to download the pdf or View to preview the pdf. If you download the pdf, it will automatically save to your computer with the file name matterNumber let (e.g. 123456 let).</li><br>
                                    <li>Refresh the page or click Reset to clear the form fields. After you have generated a citation request you do not need to refresh or clear the fields in order to generate another one.</li>
                                </ol>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <fieldset class="col-md-8">
                    <legend>Court</legend>
                    <label for="courtInfo">Court Name and Address:</label>
                    <textarea class="form-control" name="courtInfo" id="courtInfo" rows="3" placeholder="TX Precinct 2 Place 2 Justice Court for Cameron County&#10;12345 Main St&#10;City, State 12345">TX Precinct 2 Place 2 Justice Court for Cameron County&#10;12345 Main St&#10;City, State 12345</textarea>
                </fieldset>
                <fieldset class="col-md-4">
                    <legend>Template</legend>
                    <label for="txAliasTemplate">Select Template</label>
                    <select class="form-select" name="txAliasTemplate" id="txAliasTemplate">
                        <option value="">Choose an option</option>
                        <% templates.forEach(template => { %>

                            <% if(template.user == userReq.id || userReq.id === process.env.ADMIN_ID || template.private === false) {%>
                                <option value="<%= template.file %>"><%= template.templateType %></option>
                            <% } %>

                        <% }) %>
                    </select>
                </fieldset>
            </div>

            


            <fieldset class="row">
                <legend>Case Identifiers</legend>
                <div class="col-md-6">
                    <label for="matterNumber">Matter Number: </label>
                    <input class="form-control" name="matterNumber" id="matterNumber" value="123456789">
                </div>
                <div class="col-md-6">
                    <label for="caseNum">Case Number: </label>
                    <input class="form-control" name="caseNum" id="caseNum" value="22SC123456">
                </div>
            </fieldset>

            <fieldset>
                <legend>Party Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <label for="plaintiffName">Plaintiff Name(s): </label>
                        <input class="form-control" name="plaintiffName" id="plaintiffName" placeholder="Name1, Name2, etc." value="Doggerson LLC">
                    </div>
                    <div class="col-md-6">
                        <label for="defendantName">Defendant Name(s): </label>
                        <input class="form-control" name="defendantName" id="defendantName" placeholder="Name1, Name2, etc." value="Cat Llama">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="servee1Name">Servee 1 Name: </label>
                        <input class="form-control" name="servee1Name" id="servee1Name" value="Cat Llama">

                        <label for="servee1Address">Servee 1 Address: </label>
                        <textarea class="form-control" name="servee1Address" id="servee1Address" rows="3" placeholder="12345 Main St&#10;City, State 12345">12345 Main St&#10;City, State 12345</textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="servee2Name">Servee 2 Name: </label>
                        <input class="form-control" name="servee2Name" id="servee2Name">
                        
                        <label for="servee2Address">Servee 2 Address: </label>
                        <textarea class="form-control" name="servee2Address" id="servee2Address" rows="3" placeholder="12345 Main St&#10;City, State 12345"></textarea>
                    </div>
                </div>
            </fieldset>
            
            <fieldset class="row">
                <legend>Service & Return Method</legend>
                <div class="col-md-4">
                    <label for="txServiceType">Service Method</label>
                    <select class="form-select" name="txServiceType" id="txServiceType" aria-label="Select service method">
                        <option value="choose">Choose service method</option>
                        <option value="private process server">Private Process Server</option>
                        <option value="sheriff">Sheriff</option>
                        <option value="constable">Constable</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="txDocReturnMethod">Doc Return Method</label>
                    <select class="form-select" name="txDocReturnMethod" id="txDocReturnMethod" aria-label="Select document return method">
                        <option value="choose" data-dep="choose">Choose a service method</option>
                        <option value="" data-dep="private process server">Choose an option</option>
                        <option value="" data-dep="sheriff">Selection not needed</option>
                        <option value="Mail to " data-dep="private process server">Mail</option>
                        <option value="Hold for pickup by local <%= user[0].businessName %> courier" data-dep="private process server">Hold for pickup</option>
                        <option value="Email to " data-dep="private process server">Email to </option>
                    </select>
                </div>
                <div class="col-md-5">
                    <label for="customerEmail">Customer Email</label>
                    <select class="form-select" name="customerEmail" id="customerEmail" aria-label="Select customer email">
                        <option value="" data-dep="choose">Choose a doc return method</option>
                        <option value="" data-dep="Email to ">Choose a customer</option>
                        <option value="" data-dep="sheriff">Selection not needed</option>
                        <% customerList.forEach(customer => { %>
                            <option value="<%= customer._id %>" data-dep="Email to "><%= customer.customerName %></option>
                        <% }) %>
                    </select>
                </div>
            </fieldset>

            <div class="row">
                <div class="col my-3">    
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary btn-sm" id="create" data-userId="<%= user[0]._id %>">Download</button>
                            <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#previewPdf" id="viewPdf" data-userId="<%= user[0]._id %>">View</button>
                            <span class="btn btn-secondary btn-sm" id="resetTxLetForm">Reset</span>
                        </div>
                    </div>
                </div>
    
                <div class="modal fade" id="previewPdf" tabindex="-1" aria-labelledby="previewPdf" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="previewPdfLabel">Document Preview</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <iframe src="" frameborder="0" id="pdfPreview"></iframe>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/pdf-lib@1.17.1/dist/pdf-lib.min.js"></script>
    <script src="https://unpkg.com/downloadjs@1.4.7"></script>
    <script src="js/createTxAlias.js"></script>
    
<%- include('partials/footer') -%>