<%- include('partials/header') -%>
<%- include('partials/navbarLoggedIn') -%>

    <section class="p-5 bg-dark text-light">
        <div class="container">
            <h1>Generate a Florida Summons</h1>
        </div>
    </section>

    <section class="p-4 bg-light">
        <div class="container bg-body rounded-4 p-4">
            <div class="row">
                <div class="col text-end">
                    <button type="button" class="btn btn-dark btn-sm rounded-circle roundBtn" data-bs-toggle="modal" data-bs-target="#generateFlSummonsHelp">?</button>
                </div>
                <div class="modal fade" id="generateFlSummonsHelp" tabindex="-1" aria-labelledby="generateFlSummonsHelp" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="generateFlSummonsHelpLabel">Instructions</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ol>
                                    <li>
                                        Fill out the fields below in order to create a Florida Summons. The servee address must be entered in the following format:<br>
                                            <address>
                                                12345 Main St<br>
                                                Ste 123<br>
                                                City, State 12345
                                            </address>
                                    </li>
                                    <li>After you have filled out the form, click Download to download the pdf or View to preview the pdf. If you download the pdf, it will automatically save to your computer with the file name matterNumber sum (e.g. 123456 sum).</li><br>
                                    <li>Refresh the page or click Reset to clear the form fields. After you have generated a summons you do not need to refresh or clear the fields in order to generate another one.</li>
                                </ol>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <fieldset class="row">
                <legend>Court</legend>
                <div class="col-md-6 my-2">
                    <label for="countyInfo">County:</label>
                    <select class="form-select" name="countyInfo" id="countyInfo" aria-label="Select county">
                        <option>Select a county</option>
                        <% for (template in filteredTemplates) { %>
                            <option value="<%= template %>"><%= template %></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-md-6 my-2">
                    <label for="tierInfo">Tier:</label>
                    <select class="form-select" name="tierInfo" id="tierInfo" aria-label="Select county">
                        <option>Select a tier</option>
                        <% templates.forEach(template => {%>
                            <option value="<%= template.file %>" data-dep="<%= template.countyName %>" data-tier="<%= template.tier %>" >
                                <% if (template.tier === 'sc') { %>
                                    <span>Small Claims</span>
                                <% } else if (template.tier === 'cc') { %>
                                    <span>County Civil</span>
                                <% } else if (template.tier === 'ca') { %>
                                    <span>Circuit Civil</span>
                                <% } %>
                            </option>
                        <% }) %>
                    </select>
                </div>
            </fieldset>
            
            <fieldset class="row">
                <legend>Case Identifiers</legend>
                <div class="col-md-6">
                    <label for="matterNumber">Matter Number: </label>
                    <input class="form-control" name="matterNumber" id="matterNumber" value="123456789">
                </div>
                <div class="col-md-6">
                    <label for="caseNum">Case Number: </label>
                    <input class="form-control" name="caseNum" id="caseNum" value="22SC123456">
                </div>
            </fieldset>
           
            <fieldset>
                <legend>Party Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <label for="plaintiffName">Plaintiff Name(s): </label>
                        <input class="form-control" name="plaintiffName" id="plaintiffName" placeholder="Name1, Name2, etc." value="Doggerson LLC">
                    </div>
                    <div class="col-md-6">
                        <label for="defendantName">Defendant Name(s): </label>
                        <input class="form-control" name="defendantName" id="defendantName" placeholder="Name1, Name2, etc." value="Cat Llama">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="servee1Name">Servee Name: </label>
                        <input class="form-control" name="serveeName" id="serveeName" value="Cat Llama">
                    </div>
                    <div class="col-md-6">
                        <label for="servee1Address">Servee Address: </label>
                        <textarea class="form-control" name="serveeAddress" id="serveeAddress" rows="3" placeholder="12345 Main St&#10;City, State 12345">12345 Main St&#10;City, State 12345</textarea>
                    </div>
                </div>
            </fieldset>
            
            <fieldset class="row">
                <legend>Template Information</legend>
                <div class="col-md-4">
                    <label for="summonsTitle">Summons Title</label>
                    <select class="form-select" name="summonsTitle" id="summonsTitle">
                        <option value="">Choose an option</option>
                        <option value="Initial">Initial</option>
                        <option value="Alias">Alias</option>
                        <option value="Pluries">Pluries</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="pluriesNum">Pluries Number</label>
                    <input class="form-control" type="number" name="pluriesNum" id="pluriesNum">
                </div>
                <div class="col-md-6">
                    <label for="customerName">Customer</label>
                    <select class="form-select" name="customerName" id="customerName">
                        <option value="">Choose an option</option>
                        <% customerList.forEach(customer => {%>
                            <option value="<%= customer._id %>"><%= customer.customerName %></option>
                        <% }) %>
                    </select>
                </div>
            </fieldset>
           
            <div class="row">
                <div class="col my-3">    
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary btn-sm" id="create">Download</button>
                            <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#previewPdf" id="viewPdf">View</button>
                            <span class="btn btn-secondary btn-sm" id="resetForm">Reset</span>
                        </div>
                    </div>
                </div>
    
                <div class="modal fade" id="previewPdf" tabindex="-1" aria-labelledby="previewPdf" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="previewPdfLabel">Document Preview</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <iframe src="" frameborder="0" id="pdfPreview"></iframe>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <script src="https://cdn.tiny.cloud/1/nf56djxmrt5h0sf7j8vkhscwakqvwdeyi7ftriugdec5tc05/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script> -->
    <script src="https://unpkg.com/pdf-lib@1.17.1/dist/pdf-lib.min.js"></script>
    <script src="https://unpkg.com/downloadjs@1.4.7"></script>
    <script src="js/createFlAlias.js"></script>
    
<%- include('partials/footer') -%>