<%- include('partials/header') -%>
<%- include('partials/navbarLoggedIn') -%>

<section class="p-5 bg-primary text-light">
    <div class="container">
        <h1>Edit FL <%= flTemplate.countyName[0].toUpperCase() + flTemplate.countyName.slice(1) %> <% if (flTemplate.tier === 'sc') { %> Small Claims <% } else if (flTemplate.tier === 'cc') { %> County Civil <% } else if (flTemplate.tier === 'ca') { %> Circuit Civil <% } %> <%= flTemplate.templateType %> Template</h1>
    </div>
</section>

<section class="p-5 bg-light">
    <div class="container rounded-3 p-4 bg-body">
        <form action="/templates/update/fl/<%= flTemplate._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
            <div class="row">
                <div class="col">
                    <label for="templateType" class="form-label">Template Type</label>
                    <input type="text" class="form-control" id="templateType" name="templateType" value="Summons" readonly>
                </div>
                <div class="col-sm-2">
                    <label for="stateName" class="form-label">State</label>
                    <input class="form-control" id="stateName" name="state" maxlength="2" value="FL" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="countyName" class="form-label">County</label>
                    <input class="form-control" id="countyName" name="county" value="<%= flTemplate.countyName %>">
                </div>
                <div class="col">
                    <label for="tier" class="form-label">Tier</label>
                    <select class="form-select" aria-label="Select filing tier" id="tier" name="tier">
                        <option>Select filing tier</option>
                        <option 
                            <% if (flTemplate.tier === 'sc') { %> 
                                selected 
                            <% } %>
                        value="sc">Small Claims</option>
                        <option value="cc"
                            <% if (flTemplate.tier === 'cc') { %> 
                                selected 
                            <% } %>
                        >County Civil</option>
                        <option value="ca"
                            <% if (flTemplate.tier === 'ca') { %> 
                                selected 
                            <% } %>
                        >Circuit Civil</option>
                    </select>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <label for="flFileUpload" class="form-label">File</label>
                    <input type="file" class="form-control" id="flFileUpload" name="file">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary my-3" value="Upload">Submit</button>
                    <a href="/templates" class="btn btn-secondary my-3"><span>Cancel</span></a>
                </div>
            </div>
        </form>
    </div>
</section>

<%- include('partials/footer') -%>