<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<section class="bg-dark text-light p-5 text-center text-sm-start indexHero">
    <div class="container my-5">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Generate Legal Documents</h1>
                <p class="lead my-5">Quickly and easily generate summons documents that are ready for filing in FL and TX courts.</p>
                <a class="btn btn-primary btn-lg" href="/signup">Sign Up to Get Started</a>
            </div>
            <!-- <img class="img-fluid w-25 p-4 d-none d-sm-block" src="/img/signingDocs.jpg" alt="pdf vector"> -->
        </div>
    </div>
</section>

    <!-- <div id="api-instructions">
        <h2>API Instructions</h2>
        <p>Use https://legal-docs-generator.herokuapp.com/summons/countyName&tier to view a json file containing data for a summons template.</p>
        <p>Route parameters are:
            <ul>
                <li>County Name: replace countyName with the county's name</li>
                <li>Filing Tier: replace tier with the filing tier-- sc for small claims, cc for county civil, ca for circuit</li>
            </ul>
            Example: <a href="https://legal-docs-generator.herokuapp.com/summons/alachua&cc">https://legal-docs-generator.herokuapp.com/summons/alachua&cc</a>
        </p>
    </div> -->
    
    <!-- Boxes -->
    <section class="p-5">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-check2-circle"></i>
                            </div>
                            <h3 class="card-title mb-3">Step 1:<br>Select a template.</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card navbarBg text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-input-cursor-text"></i>
                            </div>
                            <h3 class="card-title mb-3">Step 2: Enter your case information.</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-download"></i>
                            </div>
                            <h3 class="card-title mb-3">Step 3: Download your document.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="flTemplates" class="bg-dark text-light p-5 homePictureFl">
        <div class="container-md my-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-5">
                    <h2>Available Florida Templates</h2>
                    <p class="lead">Templates for Florida summonses, aliases, and pluries are available in the following counties:
                        <ul class="templates">
                            <% for (template in flTemplates) {%>
                                <li><%= template %></li>
                            <% } %>
                        </ul>
                    </p>
                </div>
                <div class="col-xl-7">
                </div>
            </div>
        </div>
    </section>

    <section id="txTemplates" class="p-5 homePictureTx">
        <div class="container-md my-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-7">
                    <!-- <div class="position-relative h-100">
                        <img src="/img/manSigning.jpg" alt="Man signing a form." class="x-auto d-none d-md-block imgCover">
                    </div> -->
                </div>
                <div class="col-xl-5">
                    <h2>Available Texas Templates</h2>
                    <p class="lead">Templates for Texas citation requests are available for the following:
                        <ul class="templates">
                            <% txTemplates.forEach(template => {%>
                                <li><%= template.templateType %></li>
                            <% }) %>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- <div>
        <h2>Generate a batch of documents:</h2>
        <ol>
            <li>Upload an xlsx file containing case data and template selections.</li>
            <li>Download the result.</li>
            <li>Save the generated documents.</li>
        </ol>
    </div> -->
    
    <!-- <script src="https://cdn.tiny.cloud/1/nf56djxmrt5h0sf7j8vkhscwakqvwdeyi7ftriugdec5tc05/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#editTemplateArea',
            plugins:'fullscreen pagebreak searchreplace table print',
            height: '50vh',
            toolbar_sticky: true,
            autosave_restore_when_empty:true
        });
        tinymce.init({
            selector: '#addTemplateArea',
            plugins:'fullscreen pagebreak searchreplace table print',
            height: '50vh',
            toolbar_sticky: true,
            autosave_restore_when_empty:true
        });
    </script> -->
    <footer class="p-5 text-light text-center navbarBg">
        <span>Created by: <a href="https://github.com/XiaoLGrant" class="text-light">Xiao Grant</a></span>
    </footer>

<%- include('partials/footer') -%>