<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>
    <% } %>

    <section class="p-5 text-center text-sm-start">
        <div class="container">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <label for="emailInput">Email</label>
                        <input type="email" class="form-control" id="emailInput" placeholder="example@email.com" name="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="passwordInput">Password</label>
                        <input type="password" class="form-control" id="passwordInput" placeholder="Password" name="password">
                    </div>
                </div>
                <input class="btn btn-primary btn-sm my-2" type="submit">
            </form>
        </div>

    </section>

<%- include('partials/footer') -%>