<%- include('partials/header') -%>
<%- include('partials/navbarLoggedIn') -%>

    <section class="p-5 bg-dark text-light">
        <div class="container">
            <h1>Manage Templates</h1>
        </div>
    </section>

    <section class="p-2 mt-5 bg-light" id="txTemplatesSection">
        <div class="container rounded-3 p-4 bg-body">
            <h2 class="text-center">Texas</h2>
            <div>
                <div class="row">
                    <div class="col-11"><h3 class="fs-4">Add Template</h3></div>
                    <div class="col-1"><button type="button" class="btn btn-dark btn-sm rounded-circle roundBtn" data-bs-toggle="modal" data-bs-target="#txUploadTemplateHelp"> ? </button></div>
                </div>
                
                <div class="modal fade" id="txUploadTemplateHelp" tabindex="-1" aria-labelledby="txUploadTemplateHelp" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="txUploadTemplateHelpLabel">Uploading your own TX template</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>If you would like to upload your own template to use, it must be in pdf format and have the following text fields:
                                    <ul>
                                        <li>caseNumber</li>
                                        <li>servee1</li>
                                        <li>servee2</li>
                                        <li>courtInfo</li>
                                        <li>caseInfo</li>
                                        <li>serviceType</li>
                                        <li>docReturnType</li>
                                        <li>matterNumber</li>
                                        <li>generateDate</li>
                                        <li>returnAdd</li>
                                        <li>userName</li>
                                    </ul>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                  </div>

                <form action="/templates/add/tx" enctype="multipart/form-data" method="POST">
                    <div class="row">
                        <div class="col">
                            <label for="templateName" class="form-label">Template Name</label>
                            <input type="text" class="form-control" id="templateName" name="templateName">
                        </div>
                        <div class="col-sm-2">
                            <label for="stateName" class="form-label">State</label>
                            <input class="form-control" id="stateName" name="state" maxlength="2" value="TX" readonly>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col">
                            <label for="txFileUpload" class="form-label">File</label>
                            <input type="file" class="form-control" id="txFileUpload" name="file">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary my-3" value="Upload">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div>
                <div class="row">
                    <div class="col-11"><h3 class="fs-4">Available Templates</h3></div>
                    <div class="col-1"><button type="button" class="btn btn-dark btn-sm rounded-circle roundBtn" data-bs-toggle="modal" data-bs-target="#txEditTemplateHelp"> ? </button></div>
                </div>

                <div class="modal fade" id="txEditTemplateHelp" tabindex="-1" aria-labelledby="txEditTemplateHelp" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="txEditTemplateHelpLabel">Editing and deleting templates</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>You can only edit or delete templates that you have uploaded.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                <table class="table">
                    <tbody>
                        <% txTemplates.forEach(template => { %>
                            <tr data-id="<%=template._id%>">
                                <td class="col-sm-10">
                                    <span class="align-middle"><%= template.templateType %></span>
                                </td>
                                <td class="col-sm-2 text-end">
                                    <% if (template.user === user.id) {%>
                                    <a href="/templates/update/tx/<%= template._id %>" class="btn btn-secondary btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <form class="d-inline-block" action="/templates/delete/tx/<%= template._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-primary btn-sm" type="submit"><i class="fa-regular fa-trash-can"></i></button>
                                    </form>
                                    <% } %>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
     
    <section class="p-2 my-5 bg-light" id="flTemplatesSection">
        <div class="container rounded-3 p-4 bg-body">
            <h2 class="text-center">Florida</h2>
            <div>
                <div class="row">
                    <div class="col-11">
                        <h3 class="fs-4">Add Template</h3>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-dark btn-sm rounded-circle roundBtn" data-bs-toggle="modal" data-bs-target="#flUploadTemplate"> ? </button>
                    </div>
                </div>

                <div class="modal fade" id="flUploadTemplate" tabindex="-1" aria-labelledby="flUploadTemplate" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="flUploadTemplateLabel">Uploading your own FL template</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>If you would like to upload your own template to use, it must be in pdf format and have the following text fields:
                                <ul>
                                    <li>caseNumber</li>
                                    <li>matterNumber</li>
                                    <li>plaintiff</li>
                                    <li>defendant</li>
                                    <li>servee</li>
                                    <li>summonsTitle</li>
                                    <li>customer</li>
                                </ul>
                                If you are uploading a template for a county that has multiple divisions (e.g. Broward, Miami-dade, Monroe, Polk) and the court address needs to be on the document, the following text field must be on the pdf file you upload:
                                <ul>
                                    <li>courtAddress</li>
                                </ul>
                            </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                <form action="/templates/add/fl" enctype="multipart/form-data" method="POST">
                    <div class="row">
                        <div class="col">
                            <label for="templateType" class="form-label">Template Type</label>
                            <input type="text" class="form-control" id="templateType" name="templateType" value="Summons" readonly>
                        </div>
                        <div class="col-sm-2">
                            <label for="stateName" class="form-label">State</label>
                            <input class="form-control" id="stateName" name="state" maxlength="2" value="FL" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="countyName" class="form-label">County</label>
                            <input class="form-control" id="countyName" name="county">
                        </div>
                        <div class="col">
                            <label for="tier" class="form-label">Tier</label>
                            <select class="form-select" aria-label="Select filing tier" id="tier" name="tier">
                                <option selected>Select filing tier</option>
                                <option value="sc">Small Claims</option>
                                <option value="cc">County Civil</option>
                                <option value="ca">Circuit Civil</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col">
                            <label for="flFileUpload" class="form-label">File</label>
                            <input type="file" class="form-control" id="flFileUpload" name="file">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary my-3" value="Upload">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div>
                <div class="row">
                    <div class="col-11"><h3 class="fs-4">Available Templates</h3></div>
                    <div class="col-1"><button type="button" class="btn btn-dark btn-sm rounded-circle roundBtn" data-bs-toggle="modal" data-bs-target="#flEditTemplateHelp"> ? </button></div>
                </div>

                <div class="modal fade" id="flEditTemplateHelp" tabindex="-1" aria-labelledby="flEditTemplateHelp" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="flEditTemplateHelpLabel">Editing and deleting templates</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>You can only edit or delete templates that you have uploaded.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <table class="table">
                    <tbody>
                        <% flTemplates.forEach(template => { %>
                            <tr class="available-templates" data-id="<%=template._id%>">
                                <td class="col-sm-10">
                                    <span class="align-middle"><%= template.countyName[0].toUpperCase() + template.countyName.slice(1) %></span>
                                    <% if (template.tier === 'sc') { %>
                                        <span class="align-middle">Small Claims</span>
                                    <% } else if (template.tier === 'cc') { %>
                                        <span class="align-middle">County Civil</span>
                                    <% } else if (template.tier === 'ca') { %>
                                        <span class="align-middle">Circuit Civil</span>
                                    <% } %>
                                    <span class="align-middle"><%= template.templateType %></span>
                                </td>
                                <td class="col-sm-2 text-end">
                                    <% if (template.user === user.id) {%>
                                    <a href="/templates/update/fl/<%= template._id %>" class="btn btn-secondary btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <form class="d-inline-block" action="/templates/delete/fl/<%= template._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-primary btn-sm" type="submit"><i class="fa-regular fa-trash-can"></i></button>
                                    </form>
                                    <% } %>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </section>


    <!-- <form action="/addTemplate/createTemplate" method="POST" id="createTemplate">
        <h2>Add A Template:</h2>
        <p>Use the form below to add a new summons template. Fill out the state abbreviation, county name, filing tier, and document text.</p>
        <p>
            <label for="addState"><span>State: </span></label>
            <input type="text" placeholder="State Abbreviation" name="stateName" maxLength="2" id="addState">
        </p>
        <p>
            <label for="addCounty"><span>County: </span></label>
            <input type="text" placeholder="County" name="countyName" id="addCounty">
        </p>
        <p>
            <label for="addTier"><span>Filing Tier: </span></label>
            <select name="filingTier" id="addTierSelect">
                <option value="sc">Small Claims</option>
                <option value="cc">County Civil</option>
                <option value="ca">Circuit Civil</option>
            </select>
        </p>
        <p>
            <label for="addTemplateArea"><span>Document Text: </span></label>
            <textarea id="addTemplateArea" placeholder="Paste document text here." name="docText"></textarea>
        </p>
        <input type="submit">
    </form>
  
    <script src="https://cdn.tiny.cloud/1/nf56djxmrt5h0sf7j8vkhscwakqvwdeyi7ftriugdec5tc05/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#addTemplateArea',
            plugins:'fullscreen pagebreak searchreplace table print',
            height: '50vh',
            toolbar_sticky: true,
            autosave_restore_when_empty:true
        });
    </script> -->

<%- include('partials/footer') -%>